polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.policykit.exec" &&
        action.lookup("command") == "/usr/bin/sed") {
        return polkit.Result.YES;
    }
});

