[Unit]
Description=Start Calamares
After=graphical-session.target

[Service]
ExecStart=/usr/bin/sudo -E /usr/bin/calamares -D8
Restart=on-failure

[Install]
WantedBy=default.target
