[Unit]
Description=Start Calamares
After=graphical-session.target

[Service]
ExecStart=/usr/local/bin/vcheck
Restart=on-failure

[Install]
WantedBy=default.target
